.main-btn {
    color : #fff;
    background-color: #000;
    border-width: 10px;
    border-color: #c22121;


}

.secondary-btn {
    color: #000;
    background-color: #fff;
    border-width: 10px;
    border-color: #46da28;


}